doctype html
html(lang="en")
    head
        title Orders
body
    include ./headers
    h1 All orders
    each order in orders 
        h2="Order #"+order._id
        p="Purchased by: "+order.user
        p="Time: "+order.date
        -let sum = 0;
        each product,index in order.products
            -sum+=product.price*order.amounts[index]
            p=order.amounts[index] + "x "+product.name + " ("+product._id+") for $"+product.price*order.amounts[index]
        p="Total: $"+sum   