doctype html
html(lang="en")
    head
        title=user.name    
body
    include ./headers
    h1=user.name   
    h2=user.name+"'s Reviews"         
    each review in reviews 
        h3=review.title 
        p="Rating: "+review.rating+"/5"
        p="For: "+review.name
        p=review.contents
    h2=user.name+"'s Orders"             
    each order in orders 
        h2="Order #"+order._id
        p="Purchased by: "+order.user
        p="Time: "+order.date
        -let sum = 0;
        each product,index in order.products
            -sum+=product.price*order.amounts[index]
            p=order.amounts[index] + "x "+product.name + " ("+product._id+") for $"+product.price*order.amounts[index]
        p="Total: $"+sum            
